*{
    padding: 0px;
    margin: 0px;
    background-color: #ff7f50;
    backdrop-filter: blur(5px);
}

.LandingsPage{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}
.LandingsPage > button{
margin-top: 30px;
}
.LandingsPage > .title{
margin-bottom: 20px;
}

.LandingsPage > .rpcImage{
    height: 500px;
}

.ExplinationPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ExplinationPage > .title{
    margin-top: 30px;
    margin-bottom: 10px;
}
.ExplinationPage > .subtitle{
    margin-bottom: 10px;
}
.ExplinationPage > button{
    margin-top: 30px;
}
.explenationImg{
    width: 200px;
}

canvas{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#canvasWrapper{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choiceWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.choiceText{
margin-bottom: 10px;
}
.vs{
    margin: 10px 20px;
}
.choiceImg{
    width: 200px;
}
.ResultPage{
text-align: center;
}
.choiceImg{
font-size: 150px;
margin-top: 30px;
text-align: center;
}
#choiceImg{
font-size: 150px;
margin: 20px;
}
.border{
    box-sizing: border-box;
    border: 2px solid var(--secondary-color);
}
.userWrapper{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.computerWrapper{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.winnerText{
    margin-top: 60px;
    margin-bottom: 20px;
}
.hidden{
    display: none;
    visibility:hidden;
}
#explinationImgWrapper{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* LOADER
*/
#loadingTitle{
    text-align: center;
    margin-top: 100px;
}