/* 
    * Imports
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
/* 


    * Normalize
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
    * Variables
*/
:root {
    --primary-color: #ff7f50;
    --secondary-color: wheat;
    --black: #808080;
    --primary-font: Helvetica;
    --secondary-font: Joan;
    }


/* 
    * Elements
*/
body{
    background-color: var(--primary-color);
}
.primaryButton{
    background-color: var(--secondary-color);
    padding: 13px 40px;
    border: none;
    color: var(--primary-color);
    border-radius: 30px;
    font-family: var(--secondary-font);
}
.primaryButton:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1.5px solid var(--secondary-color);
    padding: 11.5px 38.5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.secondaryButton{
    background-color: var(--primary-color);
    padding: 11.5px 38.5px;
    border: 1.5px solid var(--secondary-color);
    color: var(--secondary-color) ;
    border-radius: 30px;
    font-family: var(--secondary-font);
}
.secondaryButton:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.title{
    color: var(--secondary-color) ;
    font-family: var(--primary-font);
    font-size: 60px;
}
.subtitle{
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 40px;
}
.paragraph{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 20px;
}